@font-face {
	font-family: 'Azo Sans';
	src: url(../../assets/fonts/AzoSans-Thin.woff2) format('woff2'),
	url(../../assets/fonts/AzoSans-Thin.woff) format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Azo Sans';
	src: url(../../assets/fonts/AzoSans-Medium.woff2) format('woff2'),
	url(../../assets/fonts/AzoSans-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Azo Sans';
	src: url(../../assets/fonts/AzoSans-Black.woff2) format('woff2'),
	url(../../assets/fonts/AzoSans-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Azo Sans';
	src: url(../../assets/fonts/AzoSans-BoldItalic.woff2) format('woff2'),
	url(../../assets/fonts/AzoSans-BoldItalic.woff) format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Azo Sans';
	src: url(../../assets/fonts/AzoSans-LightItalic.woff2) format('woff2'),
	url(../../assets/fonts/AzoSans-LightItalic.woff) format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Azo Sans';
	src: url(../../assets/fonts/AzoSans-ThinItalic.woff2) format('woff2'),
	url(../../assets/fonts/AzoSans-ThinItalic.woff) format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Azo Sans';
	src: url(../../assets/fonts/AzoSans-BlackItalic.woff2) format('woff2'),
	url(../../assets/fonts/AzoSans-BlackItalic.woff) format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Azo Sans';
	src: url(../../assets/fonts/AzoSans-MediumItalic.woff2) format('woff2'),
	url(../../assets/fonts/AzoSans-MediumItalic.woff) format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Azo Sans';
	src: url(../../assets/fonts/AzoSans-Bold.woff2) format('woff2'),
	url(../../assets/fonts/AzoSans-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Azo Sans';
	src: url(../../assets/fonts/AzoSans-Italic.woff2) format('woff2'),
	url(../../assets/fonts/AzoSans-Italic.woff) format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Azo Sans';
	src: url(../../assets/fonts/AzoSans-Regular.woff2) format('woff2'),
	url(../../assets/fonts/AzoSans-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Azo Sans';
	src: url(../../assets/fonts/AzoSans-Light.woff2) format('woff2'),
	url(../../assets/fonts/AzoSans-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}