@font-face {
	font-family: 'EvilIcons';
	src: url(../../assets/fonts/EvilIcons.woff2) format('woff2'),
	url(../../assets/fonts/EvilIcons.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}