@font-face {
	font-family: 'fontcustom';
	src: url(../../assets/fonts/fontcustom.woff2) format('woff2'),
	url(../../assets/fonts/fontcustom.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}