@font-face {
	font-family: 'Material Design Icons';
	src: url(../../assets/fonts/MaterialDesignIcons.woff2) format('woff2'),
	url(../../assets/fonts/MaterialDesignIcons.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}